.tab-product .imagebox .box-image a {
    position: relative;
    height: 100%;
}

.tab-product .imagebox .box-image a img {
    height: 100%;
    width: auto;
}

.picked-products .first-picked .box-image, .picked-products .first-picked .box-image a img {
    width: 100% !important;
    height: auto !important;
}

.picked-products .first-picked .product-box {
    height: 650px !important;
}

.tab-product .product-box.style3 .imagebox.style1.v3 .box-image a {
    width: 100%;
    height: auto;
}

.tab-product .product-box.style3 .imagebox.style1.v3 .box-image a img {
    height: 200px;
}

#logo img {
    max-width: 100%;
}

#srcAjax {
    border-radius: 0;
}

.top-search.style1 form.form-search .box-search .btn-search button {
    border-radius: 0;
}

.btn-add-cart a, .btn-shop a {
    border-radius: 0 !important;
}


.status-product {
    max-width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 990;
    font-size: .9em;
}


.grade-product.small{
    max-width: 40px;
    bottom: initial;
    top: 140px;
}
.grade-product.fixevidence{
    max-width: 60px;
    bottom: initial;
    top: 400px;
}
.grade-product {
    max-width: 80px;
    position: absolute;
    bottom: 35%;
    left: 15%;
    z-index: 990;
    font-size: .9em;
}
.grade-product img{
    width:100%;
}


.mac-powerup-product.small{
    max-width: 40px;
    bottom: initial;
    top: 140px;
}
.mac-powerup-product.fixevidence{
    max-width: 60px;
    bottom: initial;
    top: 400px;
}
.mac-powerup-product {
    max-width: 80px;
    position: absolute;
    bottom: 35%;
    right: 15%;
    z-index: 990;
    font-size: .9em;
}
.mac-powerup-product img{
    width:100%;
}

.status-product .usato {
    display: block;
    background: #44AF69;
    color: #fff;
    padding: 5px 8px;
    min-width: 120px;
    margin-bottom: 5px;
    text-align: center;
}
.status-product .offerlabel {
    display: block;
    background: #DD1C1A;
    color: #fff;
    min-width: 120px;
    padding: 5px 8px;
    text-align: center;
}
.status-product .inarrivo {
    display: block;
    background: #F0C808;
    color: #fff;
    padding: 5px 8px;
    min-width: 120px;
    margin-bottom: 5px;
    text-align: center;
}
.status-product .inrientro {
    display: block;
    background: #F0C808;
    color: #fff;
    padding: 5px 8px;
    min-width: 120px;
    margin-bottom: 5px;
    text-align: center;
}

.slider .owl-nav{display:none!important}

.hero-landing-page{
    margin:0;
    padding:120px 0;
    box-shadow: inset 1500px 1500px 0 rgba(0,0,0,.6);
    color:#fff;
}
.hero-landing-page * {
    color:#fff!important;
}
.hero-landing-page button{
    font-size:1.6em; border-radius:0px;border-color:#1F4296;background-color:#1F4296
}

.banner-cat-menu{
    position: absolute; right:15px; top:40px; width:230px;
}

#wh-widget-send-button.wh-widget-right{bottom:40px!important;}

.off-button{
    display: inline-block;
    width: 275px;
    height: 50px;
    font-size: 16px;
    line-height: 52px;
    font-weight: 600;
    background-color: #DD1C1A;
    color: #fff!important;
    text-align: center;
    margin-top:20px;
    position: relative;
    margin-left: 0;
    margin-bottom:20px;
}

#mobilemenu{display:none;}

@media screen and (max-width: 1024px) {
    .banner-cat-menu{
        display: none!important;
    }
}

@media only screen and (max-width: 767px){

    #header .nav-wrap{display:none;}
    #header .btn-menu.style1{display:none;}
    #header .header-top{display:none;}
    #header .flat-infomation.style1{display:none;}
    #header #logo-mobile {width:100%;}
    #header #logo-mobile .cart{width:30px; height:30px; background: #2A2929; display: inline-block; margin-top:26px; padding:5px;}
    #header #logo-mobile .cart img{width:100%; margin-top:-5px;}
    .flat-iconbox .col-xs-2-5{width:100%!important; }
    #header .header-bottom{height:55px;}
    #header .header-bottom .btn-menu-mega{display:none;}
    #header .header-middle{margin-bottom:10px!important;}
    #header .show-search{display:none!important;}
    #header .top-search.style1{
        width:100%;
        opacity: 1!important;
        visibility: visible!important;
        top:0;
        padding:5px;
    }
    #header .top-search form.form-search .box-search .search-suggestions{width:100%;}
    #header .top-search form.form-search .cat-wrap {display:inline-block; right:85px; z-index:1001;}
    .top-search form.form-search .cat-wrap .selctfake{width: 110px; overflow-x: hidden; font-size: 11px; border-right: 0; border-left: 1px solid #e9e9e9}
    #srcAjax{padding-right:120px;}


    #mobilemenu{transition:all .2s ease-in-out; display: block; width: 76vw; background: #fff; position: fixed; top:0; left:-100%; z-index: 9999999999999; height: 100vh; padding:0; overflow-y: scroll; border-right:1px solid #f5f5f5}
    #mobilemenu.visibile{left:0;}
    #mobilemenu ul.flat-unstyled, ul.flat-support{text-align: center; border-bottom: 1px solid #f5f5f5; padding:5px 0;}
    #mobilemenu .menu li{border-bottom: 2px solid #f5f5f5; padding:10px 0;}
    #mobilemenu .menu li a {margin-left:20px; display: inline-block;}
    #mobilemenu .menu li ul{margin:10px 0 0 0; padding:0;}
    #mobilemenu .menu li ul li{margin:0;width:100%;}
    #mobilemenu .menu li ul li:first-child{border-top:2px solid #f5f5f5;}
    #mobilemenu .menu li ul li:last-child{border:0; padding-bottom:0;}
    #mobilemenu .menu li ul li a{margin-left:40px;}
    #mobilemenu .menu li ul li ul li a{margin-left:60px;}
    #mobilemenu .menu li ul li ul li ul li a{margin-left:80px;}
    #mobilemenu .menu li .btn-dropdown{
        width:35px; height:35px; margin-right: 20px; text-align: center;
    }
    .form-login, .form-register{height:auto!important;}
    .mobile-toggle{display: none;}
}

